<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Weather App</title>
  <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
          <p>This website was created by Emmanuel Idika.</p> 
          <p>It used data from mapbox.com and weatherstack.com</p>
        <img class="portrait" src="/img/robot.png" alt="Robot">      
    </div>
    
    {{>footer}}
</body>

</html>